In [1]:
import pandas as pd

In [2]:
yemen = pd.read_csv('Yemen/mVAM/Data/YEM_WFP_mVAM_RawData.csv')

In [3]:
sl = pd.read_csv('Sierra Leone/mVAM/Data/data_SL_hackathon_clean.csv')

In [4]:
sl.head()

,ObsID,SvyID,Round,SvyDate,ObsDate,RspTime,ADM0_NAME,ADM1_NAME,ADM2_NAME,RspID,...,ReduceNumMeals,LimitPortionSize,RestrictConsumption,rCSI,expenditure,ManLbr_cln,ImpRiceCup_cln,LocRiceCup_cln,PalmOil_cln,Sentiment
0,3656,6,1,11/1/2014,11/1/2014,NaN,Sierra Leone,Eastern,Kailahun,U-1426949506770270665,...,5,5,2.0,29.0,NaN,NaN,NaN,1000.0,1400.0,NaN
1,3655,6,1,11/1/2014,11/1/2014,NaN,Sierra Leone,Western Area,Western Urban,U-3995490573059263159,...,7,7,7.0,40.0,NaN,NaN,NaN,1000.0,4000.0,NaN
2,3654,6,1,11/1/2014,11/1/2014,NaN,Sierra Leone,Southern,Bo,U-605813381691505652,...,4,3,4.0,25.0,NaN,NaN,NaN,1000.0,3500.0,NaN
3,3063,6,1,11/1/2014,11/1/2014,NaN,Sierra Leone,Western Area,Western Urban,U-7231635309383885717,...,2,2,2.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3327,6,1,11/1/2014,11/1/2014,NaN,Sierra Leone,Western Area,Western Urban,U208802657652383210,...,5,5,5.0,40.0,NaN,5000.0,NaN,NaN,NaN,NaN